# Python Core

__pycache__/
*.py[cod]
*$py.class


# Virtual Environments

venv/
.venv/
env/
ENV/
.env/
.envrc/


# Jupyter Notebooks

.ipynb_checkpoints/


# Operating System Files

.DS_Store
Thumbs.db


# Log Files

*.log


# Model Artifacts 

models/
*.pkl
*.joblib


# Streamlit / App Cache

.streamlit/


# IDE Configs

.vscode/
.idea/


# Environment Secrets

.env
config.local.yaml


# Testing / Coverage

.pytest_cache/
.coverage
htmlcov/


# Build / Packaging

build/
dist/
*.egg-info/


# Temp Files

tmp/
temp/
*.tmp
*.bak
*.swp
